{% extends "radmin/base.html" %}
{% load i18n %}
{% block title %}Create User {{ raduser.username }} - Djra{% endblock %}

{% block main_content %}
<div class="section">
  <div class="page-header">
    <h1>{% block page_header %}Create User{% endblock %}</h1>
  </div>
  <div>
    <form method="POST">
      {% csrf_token %}
      {% include "include/form_snippet.html" with form=form %}
      <div class="actions">
        <input type="submit" value="Save" class="btn primary"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}
