{% extends "radmin/base.html" %}
{% load i18n %}

{% block title %}Djra - A Freeradius Admin Interface{% endblock %}
{% block extra_head %}
<script type="text/javascript">
$(function(){
  set_top_nav('users');
});
</script>
{% endblock %}

{% block main_content %}
<div class="section">
  <div class="page-header">
    <h1>Users</h1>
  </div>
  <div>
    <form>
      {% include "include/filter_form_snippet.html" with form=filter_form %}
      <input type="submit" value="Search" class="btn"/>
    </form>
    {% load paging_extras %}

    {% paginate query_set from request as results False %}
    <table class="zebra-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Password</th>
          <th>Groups</th>
          <th>Is Active</th>
        </tr>
      </thead>
    {% for result in results.objects %}
      <tbody>
        <tr>
          <td>{{ result.username }}</td>
          <td>{{ result.password }}</td>
          <td>{{ result.groups|join:',' }}</td>
          <td>{% if result.is_suspended %} <span class="red">Suspended</span> {% else %} <span class="green">Active</span> {% endif %}</td>
        </tr>
      </tbody>
    {% endfor %}
    </table>
    {{ results.paging }}
  </div>
      
</div>
{% endblock %}


