{% extends "radmin/base.html" %}
{% load i18n %}

{% block title %}Djra - A Freeradius Admin Interface{% endblock %}
{% block extra_head %}
<script type="text/javascript">
$(function(){
  set_top_nav('users');
});
</script>
{% endblock %}

{% block main_content %}
<div class="section">
  <div class="page-header">
    <h1>Users</h1>
  </div>
  <div>
    {% load paging_extras %}

    {% paginate query_set from request as results False %}
    <table class="zebra-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Password</th>
          <th>Is Suspended</th>
        </tr>
      </thead>
    {% for result in results.objects %}
      <tbody>
        <tr>
          <td>{{ result.username }}</td>
          <td>{{ result.password }}</td>
          <td>{{ result.is_suspended }}</td>
        </tr>
      </tbody>
    {% endfor %}
    </table>
    {{ results.paging }}
  </div>
      
</div>
{% endblock %}


