{% if paginator.has_pages %}
	<div class="pagination">
		<div class="paging-meta">Page {{ paginator.page }}{% if paginator.num_pages %} of {{ paginator.num_pages }}{% endif %}</div>
		{% if paginator.num_pages %}
			<ul class="paging-numeric">
				<li class="prev {% if not paginator.has_previous %}disabled{% endif %}">{% if paginator.has_previous %}<a href="?{{ query_string|escape }}&amp;p={{ paginator.previous_page }}">Previous</a>{% else %}<a href='#'>Previous</a>{% endif %}</li>
				{% for p in paginator.page_range %}
					<li{% ifequal p paginator.page %} class="active paging-current"{% endifequal %}><a href="?{{ query_string|escape }}&amp;p={{ p }}">{{ p }}</a></li>
				{% endfor %}
				<li class="next{% if not paginator.has_next %} disabled{% endif %}">{% if paginator.has_next %}<a href="?{{ query_string|escape }}&amp;p={{ paginator.next_page }}">Next</a>{% else %}<a href='#'>Next</a>{% endif %}</li>
			</ul>
		{% else %}
			<ul class="paging-endless">
				<li class="paging-previous">{% if paginator.has_previous %}<a href="?{{ query_string|escape }}&amp;p={{ paginator.previous_page }}">Previous Page</a>{% else %}<span>Previous Page</span>{% endif %}</li>
				<li class="paging-next">{% if paginator.has_next %}<a href="?{{ query_string|escape }}&amp;p={{ paginator.next_page }}">Next Page</a>{% else %}<span>Next Page</span>{% endif %}</li>
			</ul>
		{% endif %}
	</div>
{% endif %}
